#gnpub-gnfollow-shortcode-wrapper{
    border: 1px solid #c6d2d9;
    padding: 9px;
    max-width: fit-content;
}
#gnpub-gnfollow-shortcode-wrapper a{
    text-decoration: none;
}
#gnpub-gnfollow-shortcode-wrapper a:focus{
    box-shadow: none;
}
#gnpub-gnfollow-shortcode-wrapper img{
    width: 120px;
    position: relative;
    top: 9px;
    left: 5px;
}
#gnpub-gnfollow-shortcode-wrapper:hover{
    border: 1px solid #000;
    box-shadow: ;
}
#gnpub-gnfollow-shortcode-follow-text{
    font-weight: 500;
    font-size: 13px;
}